* {
	text-decoration: none;
	list-style: none;	
}
header {

}

.header-inner {
    max-width: 1160px;
    height: 64px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blue-logo-wrap {
    width: 124px;
    height:24px;
    background-color: aliceblue;
}

.blue-logo-wrap > img {
   box-sizing: border-box;
}

.header-nav {

}

.header-nav-wrap {
    padding: 0 20px;
    display: flex;
    gap: 36px;
}

#intro {
   
    
    
}

.intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    padding: 0 16px;
    background-image: url(../img/매인배경.png);
    background-size: cover;
    background-position: center;
    height: 320px;
    align-items: center;
    text-align: center;
}
.intro-inner > .intro-title-wrap {
    font-size: 3rem;
    color:aliceblue;
    font-weight: 700;
}
.input-container {
    margin: 0 auto;
    width: 610px;
    position: relative;
}
.input-container > figure {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%)
}

.search-iconb {
    display: block;
    width: 100%;
    height: 100%;
   

}

.search-bar {
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: aliceblue;
    box-sizing: border-box;
    color: rgb(97, 97, 214);
    font-weight: 600;
    font-size: 1rem;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
}

#main {

}

.main-title {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;

}

.main-title > h2 {
    padding: 0 10px;
    margin-bottom: 24px;
    font-size: 2rem;
    line-height: 100%;
    font-weight: 700;

}

.main-title > p {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
}

.nub-guide {
    color: rgba(0, 103, 224, 1);
}

.catergory {
    
}

.category-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

}

.category-img {
    width: 120px;
    height: 120px;
}

.category-item {
    background: white;
    padding: 10px;
    width: 240px;
    height: 240px;
    margin: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
}

.category-item > h3 {
    font-size: 1.25rem;
    font-weight: 600;   
    color: rgb(94, 94, 212);

}

.category-item > p {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 200px;
    color:dimgray;
    line-height: 1.4;
}

.gap-title {
    padding: 0 10px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 60px;
    margin-bottom: 30px;

}

footer {
    margin-top: 40px;
    background-color: #121315;
    background-size: 814px 145px;
    width: 100%;
}

.footer-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.topside {
    text-align: center;
    align-items: center;
    gap: 40px;
}
.green-btn-wrap {
   padding: 42px 10px;
    
}

.green-btn {
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 42px;
    border-radius: 25px;
    background-color: #3BA55C;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.app {
    position: relative;
    width: 814px;
    height: 145px;
    background-image: url(../img/footer-background.png);
    background-size: 814px 145px;
    background-position: center;
    margin: 0 auto;
}
.app-icon {
    opacity: 0.3;
}

.browser {
    position: absolute;
    top: 54px;
    left: 86px;

}

.android {
    position: absolute;
    top: 60px;
    left: 378px;
}

.apple {
    position: absolute;
    top: 62px;
    left: 472px;
}

.microsoft {
    position: absolute;
    top: 54px;
    left: 614px; 
}

.mac {
    position: absolute;
    top: 54px;
    left: 694px;
}

.app > a:hover {
opacity: 1;
transition: 0.2s;
}

.bottomside {
   display: flex;
   align-items: center;
   gap: 180px;
   padding: 0 30px 50px;
}

.homelink {
    display: flex;
}

.discord-link {
    display: block;
    height: 38px;
}

.links-area {
     display: flex;
     height: 100%;
     margin: 30px 0 0 0;
     width: 100%;
}

.links {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    
}

.links >li {
    padding: 4px 0;
    text-align: left;
    line-height: 1;
}

.white{
    color: #fff;
    font-family: "gg_sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.gray {
    color: gray;
    font-family: "gg_sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.green {
    color:#3BA55C;
    font-family: "gg_sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

