* {
	text-decoration: none;
	list-style: none;	
}
header {

}

.header-inner {
    max-width: 1160px;
    height: 64px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blue-logo-wrap {
    width: 124px;
    height:24px;
    background-color: aliceblue;
}

.blue-logo-wrap > img {
   box-sizing: border-box;
}

.header-nav {

}

.header-nav-wrap {
    padding: 0 20px;
    display: flex;
    gap: 36px;
}

#intro {
}

.intro-inner {
    background-image: url(../img/매인배경.png);
    background-size: cover;
    background-position: center;
    height: 320px;
    
}

.intro-inner {
    align-items: center;
    text-align: center;
}
.intro-inner > h1 {
    padding-top: 114px;
    padding-bottom: 36px;
    font-size: 3rem;
    color:aliceblue;
    font-weight: 700;
}

.intro-inner > .search-bar {
    border-radius: 4px;
    border: none;
    background-color: aliceblue;
    box-sizing: border-box;
    color: aliceblue;
    font-weight: 600;
    font-size: 1rem;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 40%
}

#main {

}

.main-title {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;

}

.main-title > h2 {
    margin-bottom: 24px;
    font-size: 2rem;
    line-height: 100%;
    font-weight: 700;

}

.main-title > p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
}

.nub-guide {
    color: rgba(0, 103, 224, 1);
}

.catergory {
    
}

.category-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.category-img {
    width: 120px;
    height: 120px;
}

.category-item {
    background: white;
    padding: 10px;
    width: 240px;
    height: 240px;
    margin: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
}

.category-item > h3 {
    font-size: 1.25rem;
    font-weight: 600;   
    color: rgb(94, 94, 212);

}

.category-item > p {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 200px;
    color:dimgray;
    line-height: 1.4;
}

